<div class=card>
  <div class="card-header">
    Add new property
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form = "ngForm">
      <div>
        <tabset>
          <tab heading="Basic Info">
            <div class="form-group col-12 mb-2">
              <label for="name">Name</label>
              <input  type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="12">
              <span *ngIf="!propName.valid && propName.touched "  class="error-block">
                <span *ngIf="propName.hasError('required')">Plase provide name</span>
                <span *ngIf="propName.hasError('minlength')">Min length is 12 characters</span>
              </span>
            </div>
            <div class="form-group col-12 mb-2">
              <label for="type">Type</label>
              <input type="text" class="form-control" ngModel name="Type">
            </div>
            <div class="form-group col-12 mb-2">
              <label for="price">Price</label>
              <input type="text" class="form-control" ngModel name="Price">
            </div>
            <div class="form-group col-12 mb-2">
              <label for="image">Image</label>
              <input type="file" class="form-control" ngModel name="Image">
            </div>
            <div class="form-group col-12">
              <button [disabled]="!Form.valid" type="submit" class="btn btn-primary">Save</button>
              <button type="reset" class="btn btn-primary m-2">Cancel</button>
            </div>
          </tab>
          <tab heading="Pricing and area">Pricing Information</tab>
          <tab heading="Address">Address</tab>
        </tabset>
      </div>

    </form>
  </div>
</div>
